<?php

// General Config
const FRONTEND_ENABLED      = false;
const API_ENABLED           = true;
const REGISTRATION_ENABLED  = true;
const VERIFY_EMAIL_REQUIRED = false;
const MAIL_SENDER_ADDRESS   = "noreply@customerdb.example.com";
const WEB_BASE_URL          = "https://customerdb.example.com";

// MySQL Credentials
const DB_HOST = "localhost";
const DB_USER = "customerdb";
const DB_PASS = "PASSWORD";
const DB_NAME = "customerdb";
