<?php

// General Config
const DEFAULT_CURRENCY      = '€';
const FRONTEND_ENABLED      = false;
const API_ENABLED           = true;
const REGISTRATION_ENABLED  = true;
const VERIFY_EMAIL_REQUIRED = false;
const MAIL_SENDER_ADDRESS   = 'noreply@customerdb.example.com';
const WEB_BASE_URL          = 'https://customerdb.example.com';

// MySQL Credentials
const DB_TYPE = 'mysql';
const DB_PORT = '3306';
const DB_HOST = 'localhost';
const DB_USER = 'customerdb';
const DB_PASS = 'PASSWORD';
const DB_NAME = 'customerdb';

// Store Config (optional for validating cloud access license)
const CHECK_PAYMENT      = false;

const PLAYSTORE_APPID    = 'de.georgsieber.customerdb';
const PLAYSTORE_SKUID    = 'sync';
const PLAYSTORE_AUTH     = '{
  "type": "service_account",
  "project_id": "api-xxx-xx",
  "private_key_id": "xxxxx",
  "private_key": "-----BEGIN PRIVATE KEY-----\nxxxxxx\n-----END PRIVATE KEY-----\n",
  "client_email": "xxx@xxx-xxx-xx.iam.gserviceaccount.com",
  "client_id": "xxxxx",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/xxxxx"
}';

const APPSTORE_BUNDLEID  = 'systems.sieber.customerdb';
const APPSTORE_PRODUCTID = APPSTORE_BUNDLEID.'.cal';
// legacy API
const APPSTORE_SECRET    = '';
// new API
const STOREKIT_ISSUER_ID = 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx';
const STOREKIT_KEY_ID    = 'ABCDEFGHIJ';
const STOREKIT_KEY       = '-----BEGIN PRIVATE KEY-----
.....
-----END PRIVATE KEY-----';
